html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

html, body {
    background-color: #0d1117;
}

a, a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #4493f8 !important;
    text-decoration: underline;
}

header, main, footer {
    position: relative;
    width: 100%;
    float: left;
}

header {
    background: white;
    border-bottom: 1px solid #00000059;
    background-color: #010409;
    color: #f0f6fc;
    border-bottom: 1px solid #3d444d;
    height: fit-content;
}

.header-logo {
    width: fit-content;
    position: relative;
    /* background: #ffffff52; */
    left: 82px;
    padding: 10px;
    top: -3px;
}

.header-logo a {
    background: none;
    color: #ffffff;
    padding: 4px 5px;
    display: inline-block;
    border-radius: 5px;
    margin: 4px 3px;
    font-size: 14px;
    font-weight: 600;
}

.header-logo a:hover {
    background: #ffffff1a;
    text-decoration: none;
    color: white !important;
}

.header-logo span {
    font-weight: 100;
    font-size: 14px;
}

.header-logo i.fa-brands.fa-github{
    font-size: 31px;
    position: relative;
    top: 7px;
    right: 12px;
}

main {
    background-color: #0d1117;
    color: white;
    height: 100vh;
}

footer {
    background: #0d1117;
}

#logo {
    position: relative;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    width: fit-content;
    float: right;
}

#footer-info {
    padding: 10px;
    font-size: 13px;
}

#footer-info,
#footer-info a {
    color: #ffffff1c;
}

#footer-info a {
    position: relative;
    left: 3px;
}

/* Styles for section blocks */
.section-block {
    position: relative;
    float: left;
    min-width: 180px;
    height: 100%;
}

.right-section-block h2, 
.right-section-block h3, 
.right-section-block h4 {
    margin-top: 0;
    margin-bottom: 10px;
}

#controls {
    font-family: monospace;
    line-height: 28px;
}

#controls select,
#controls input, 
#controls button  {
    background: #212830;
    color: white;
    padding: 4px 4px;
    border-radius: 5px;
    border: 1px solid #2f353d;
    font-size: 13px;
    cursor: pointer;
}

#controls input[type="range"] {
    top: 9px;
}

#controls button.controls__main-action-button {
    background-color: #238636 !important;
    margin-top: 6px;
}

.section-block__inner {
    height: 100%;
    position: relative;
}

.left-section-block {
    width: 70%;
}

.left-section-block .section-block__inner {
    float: right;
    width: 100%;
}

.left-section-block nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.center-section-block {
    min-width: 45%;
}

.right-section-block {
    width: 27%;
}

.right-section-block .section-block__inner {
    float: left;
}

.block {
    background-color: white;
    display: block;
    background-color: #0d1117;
    color: white;
    float: left;
}

.rounded-block {
    border: 1px solid #00000059;
    border-radius: 3px;
}

.mini-block {
    width: 180px;
}

.medium-block {
    width: 296px;
}

.wide-block {
    width: 70%;
}

.separated-block {
    border-bottom: 1px solid #3d444db3;
    padding: 16px 0px;
}

.separated-block:last-child {
    border-bottom: none;
}

.text-block {
    line-height: 1.5;
    font-size: 16px;
}

.scene-viewer {
    border: 1px solid #2f353d;
    height: fit-content;
    display: flex;
    border-radius: 5px;
    top: 15px;
    width: 850px;
    position: relative;
    margin-right: 16px;
    float: right;
    right: 12px;
}

.scene-viewer .list {
    width: 180px;
    border-right: 1px solid #2f353d;
    overflow: hidden;
}

.scene-viewer .list ul {
    position: relative;
    display: inline-block;
    width: 100%;
    top: -17px;
}


.list-title {
    background: #151b23;
    padding: 6px;
    position: relative;
    float: left;
    width: 103%;
    left: -4px;
    top: -17px;
    border-bottom: 1px solid #2f353d;
}

.list-title h3 {
    position: relative;
    left: 10px;
    top: 10px;
    font-size: 14px;
    color: #9198a1;
}

.scene-viewer .list ul li:nth-child(odd) {
    background: #01040969;
}

.scene-viewer .list ul li {
    padding: 7px 10px;
    min-height: 18px;
    font-size: 14px;
}


.scene-viewer .wide-block h2 {
    position: relative;
    left: 42px;
    top: -3px;
}

.scene-viewer .wide-block canvas {
    position: relative;
    left: 39px;
    bottom: 14px;
    border-radius: 5px;
}

.hr-line-separator {
    position: relative;
    float: left;
    width: 100%;
    border-bottom: 1px solid #8e8e8e;
    margin: 7px 0px;
}

.centred-text {
    text-align: center;
}

.hidden {
    display: none;
}

.pale {
    opacity: 0.3;
}

.small-font {
    font-size: 13px !important;
}

.disabled {
    opacity: 0.55 !important;
    cursor: default !important;
}

.math-formula {
    font-family: "STIX Two Text", serif;
    font-optical-sizing: auto;
    font-size: 16px;
}

.math-fraction {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 8px;
    margin-top: 4px;
}

.math-fraction--degree-format {
    font-size: 9px !important;
    bottom: 10px;
    margin-top: 7px;
}

.math-fraction__x-symbol {
    position: relative;
    bottom: 3px;
}

.math-fraction__denominator {
    border-top: 1px solid black;
    width: 100%;
    margin-bottom: -12px;
}

.display-item__list-item {
    position: relative;
    margin: 4px 0px;
    display: inline-block;
}

.scene-info__display-label, 
.math-formula {
    vertical-align: middle;
}

#scene-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.display-infobox {
    background: #c9d2e2;
    padding: 9px 12px;
    border-radius: 4px;
    color: #052154;
    margin-bottom: 6px;
    font-size: 14.5px;
    border: 1px solid #0521545c;
    line-height: 17px;
    color: #4493f8;
    background-color: #121d2f;
}

.display-float-tile {
    padding: 3px 7px;
    margin: 2px 2px;
    background: #00000024;
    border-radius: 2px;
    border: 1px solid #0000005e;
    font-size: 13px;
    max-width: 230px;
    min-width: 105px;
    min-height: 24px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.controls__checkbox-checkbox {
    margin: 0;
    position: relative;
    right: 1px;
    top: 1px;
    cursor: pointer;
}

.controls__range-slider {
    position: relative;
    top: 3px;
    cursor: col-resize;
}

.controls__buttons-container {
    margin-top: 2px;
}

.controls__button, 
.controls__option-selector-button {
    background: none;
    border: 1px solid rgb(0 0 0 / 61%);
    position: relative;
    border-radius: 3px;
    margin-right: 2px;
    margin-bottom: 2px;
    cursor: pointer;
    transition: 0.3s ease;
    opacity: 1;
}

.concepions-tags {
    position: relative;
    display: inline;
    top: 6px;
}

.concepions-tags li {
    background: #388bfd1a;
    color: #4493f8;
    font-size: 12px;
    display: inline;
    padding: 0 7px;
    line-height: 22px;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 2em;
    position: relative;
    margin-left: 5px;
    float: left;
}

.gray-word-bubble,
.green-word-bubble,
.yellow-word-bubble,
.red-word-bubble {
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 15px;
}

.gray-word-bubble {
    background-color: #c6c6c6;
    color: #373737;
}

.green-word-bubble {
    background-color: #b5df85;
    color: #064b06;
}

.yellow-word-bubble {
    background-color: #f0de74;
    color: #5a5a02;
}

.red-word-bubble {
    background-color: #df8585;
    color: #4b0606;
}

#HUD {
    background: #000000cc;
    padding: 10px;
    width: fit-content;
    border-radius: 6px;
    position: absolute;
    left: 232px;
    z-index: 1;
    font-family: monospace;
    font-size: 11px;
    top: 68px;
    user-select: none;
    border: 1px solid #2f353d;
}

#HUD h4 {
    margin-top: 0px;
}

.scene-info__display-value i {
    position: relative;
    top: 2px;
}