html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}

.centred-text {
    text-align: center;
}

.hidden-block {
    display: none;
}

.pale {
    opacity: 0.3;
}

header, main, footer {
    position: relative;
    width: 100%;
    float: left;
}

header {
    /* background: #ffff0042; */
    background: white;
}

#logo {
    position: relative;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    width: fit-content;
    float: right;
}

main {
    /* background: #dbc1db; */
    background-color: #dde2eb;
    height: 85%;
}

.section-block {
    position: relative;
    float: left;
    min-width: 180px;
    height: 100%;
}

.section-block h2, h3, h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.section-block__inner {
    /* background-color: #00000021; */
    height: 100%;
    padding: 10px;
    position: relative;
}

.left-section-block {
    /* background: #ff000040; */
    width: 25%;
}

.left-section-block .section-block__inner {
    float: right;
}

.left-section-block nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.center-section-block {
    /* background: #0000ff30; */
    width: 45%;
}

.right-section-block {
    /* background: #0080005c; */
    width: 30%;
}

.right-section-block .section-block__inner {
    float: left;
}

.rounded-block {
    border: 1px solid #00000059;
    border-radius: 3px;
}

.mini-block {
    width: 180px;
}

.block {
    padding: 7px 15px;
    background-color: white;
    margin: 0px auto;
    margin-bottom: 20px;
}

.medium-block {
    width: 250px;
}

.wide-block {
    width: 95%;
}

.controls__checkbox-checkbox {
    margin: 0;
    position: relative;
    right: 1px;
    top: 1px;
    cursor: pointer;
}

.controls__buttons-container {
    margin-top: 2px;
}

.controls__button, 
.controls__preset-picker-button {
    background: none;
    border: 1px solid rgb(0 0 0 / 61%);
    position: relative;
    border-radius: 3px;
    margin-right: 2px;
    margin-bottom: 2px;
    cursor: pointer;
    transition: 0.3s ease;
    opacity: 1;
}

.controls__option-label{
    font-size: 15px;
}

[data-selected-preset="true"],
.controls__preset-picker-button:hover {
    color: #0f35ff;
    border-color: #0f35ff;
}

.controls__preset-picker-button:active {
    opacity: 0.3;
}

footer {
    background: #0e111c;
    color: white;
}

#footer-info {
    padding: 10px;
    min-height: 100px;
}